{"rm_weight": 0.0, "topk": 10, "mode": "greedy", "sample_temp": null}
{"rm_weight": 0.1, "topk": 10, "mode": "greedy", "sample_temp": null}
{"rm_weight": 0.2, "topk": 10, "mode": "greedy", "sample_temp": null}
{"rm_weight": 0.5, "topk": 10, "mode": "greedy", "sample_temp": null}
{"rm_weight": 0.6, "topk": 10, "mode": "greedy", "sample_temp": null}
{"rm_weight": 0.8, "topk": 10, "mode": "greedy", "sample_temp": null}
{"rm_weight": 1.0, "topk": 10, "mode": "greedy", "sample_temp": null}
{"rm_weight": 1.2, "topk": 10, "mode": "greedy", "sample_temp": null}
{"rm_weight": 1.5, "topk": 10, "mode": "greedy", "sample_temp": null}
